<div class="row">
  <div class="small-12 columns">
    <div class="text-center">
      <h1>Sight Words Practice</h1>
      <h2 class="subheader">Hi Layla!</h2>
      <hr>
      <p class="panel">
        Which game would you like to play?<br><br>
        <%= link_to "List One", list_path(:list_one), data: { no_turbolink: true } %> |
        <%= link_to "Hard", hard_words_path(:list_one), data: { no_turbolink: true } %> |
        <%= link_to "Practice", practice_path(:list_one), data: { no_turbolink: true } %><br>
        <%= link_to "List Two", list_path(:list_two), data: { no_turbolink: true } %> |
        <%= link_to "Hard", hard_words_path(:list_two), data: { no_turbolink: true } %> |
        <%= link_to "Practice", practice_path(:list_two), data: { no_turbolink: true } %><br>
        <%= link_to "List Three", list_path(:list_three), data: { no_turbolink: true } %> |
        <%= link_to "Hard", hard_words_path(:list_three), data: { no_turbolink: true } %> |
        <%= link_to "Practice", practice_path(:list_three), data: { no_turbolink: true } %><br>
        <%= link_to "List Four", list_path(:list_four), data: { no_turbolink: true } %> |
        <%= link_to "Hard", hard_words_path(:list_four), data: { no_turbolink: true } %> |
        <%= link_to "Practice", practice_path(:list_four), data: { no_turbolink: true } %><br>
        <%= link_to "Random Words", random_words_path %>
      </p>
    </div>
  </div>
</div>
