<!-- Navbar -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Layla's Site Words!", root_path, data: { no_turbolink: true } %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <%= link_to "Games", root_path, data: { no_turbolink: true } %>
        <ul class="dropdown">
          <li><%= link_to "List One", list_path(:list_one), data: { no_turbolink: true } %></li>
          <li><%= link_to "List Two", list_path(:list_two), data: { no_turbolink: true } %></li>
          <li><%= link_to "List Three", list_path(:list_three), data: { no_turbolink: true } %></li>
          <li><%= link_to "List Four", list_path(:list_four), data: { no_turbolink: true } %></li>
          <li><%= link_to "Random Words", random_words_path, data: { no_turbolink: true } %></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <%= link_to "Words", words_path, data: { no_turbolink: true } %>
        <ul class="dropdown">
          <li><%= link_to "New Word", new_word_path, data: { no_turbolink: true } %></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>
